.photo__container {
  max-width: 282px;
  height: 282px;
}

@media screen and (max-width: 890px) {
  .photo__container {
    max-width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 750px) {
  .photo__container {
    max-width: 282px;
    height: 282px;
  }
}
